{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'mlb/styles.css' %}">
    <link href="https://fonts.cdnfonts.com/css/ibm-plex-sans" rel="stylesheet">
    <title>MLB Web App</title>
</head>
<body>
    <header class="header">
        
    <div class="w3-bar">
        <ul>
            <li style="float:left; color:white;"><a href="/home" class="w3-bar-item w3-button w3-hover-none w3-border-none w3-topbar w3-hover-border-white w3-hover-text-white">HOMEBASE</a></li>
            <li style="float:right; color:white;"><a href="/mlb/news_list" class="w3-bar-item w3-button w3-hover-none w3-border-none w3-topbar w3-hover-border-white w3-hover-text-white">Teams</a></li>
            <li style="float:right; color:white;"><a href="/home" class="w3-bar-item w3-button w3-hover-none w3-border-none w3-topbar w3-hover-border-white w3-hover-text-white">Leaderboards</a></li>
        </ul>
        <h2>Teams</h2>
    </header>
    {% if error_message %}
        <p>Error: {{ error_message }}</p>
    {% endif %}

    {% if standings_data %}
        <table>
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for entry in standings_data %}
                    <tr>
                        <td>{{ entry.team }}</td>
                        <td>{{ entry.wins }}</td>
                        <td>{{ entry.losses }}</td>
                        <!-- Add more columns as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No standings data available.</p>
    {% endif %}
    
    <h2>News</h2>
    <ul class="news_bg">
        {% for news_item in news_data %}
          <li>
            <h3><a href="{{ news_item.link }}" style="color:#244D87;">{{ news_item.title }}</a></h3>
            <p>{{ news_item.description }}</p>
            <p style="color:black;"> {{ news_item.pub_date }}</p>
            {% if news_item.image_url %}
              <img src="{{ news_item.image_url }}" alt="{{ news_item.title }}" style="width:400px;">
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    
</body>
</html>
